$primary: #f3d19f; //deep-champagne
$secondary: #b49b78; //camel
$success: #C3D5C5; //mint-green
$info: #c6c3d5; //lavendar-grey
$warning: #F6AEAE; //light-red
$danger: #F6AEAE;//light-red
$light: #ffffff; //white
$dark: #111111; //rich-black-fogra-39
$font-family: 'Abril Fatface', cursive;
$font-family: 'Be Vietnam Pro', sans-serif;

$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	
);

.nav {
	font-family: 'Be Vietnam Pro', sans-serif !important;
	font-weight: 400 !important;
	text-decoration-line:none !important;
	height: 90px;
	
  };

.btn-link {
	text-decoration-line:none !important;
	text-decoration-style: none !important
  };

h1 {
	font-family: 'Be Vietnam Pro', sans-serif !important;
	font-size: 72px !important;
	font-weight: 400 !important
}
h2 {
	font-family: 'Abril Fatface', cursive !important;
	font-size: 36px !important;
}

.logo-nav {
	font-family: 'Be Vietnam Pro', sans-serif !important;
	font-size: 34px !important;
	font-weight: 400 !important;
	color: $dark !important;
}
//footer logo = h6

h6 {
	font-family: 'Be Vietnam Pro', sans-serif !important;
	font-size: 18px !important;
	font-weight: 400 !important
}
.navlinks {
	font-family: 'Be Vietnam Pro', sans-serif !important;
	font-size: 18px !important;
	font-weight: 400 !important
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,600&family=Shippori+Antique+B1&display=swap');

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
